p{
    color: blue;
}

h3{
    color: orange;
}

a{
    background-color: yellow;
}

#parrafo4{
    color: magenta;
}

.parrafoGris{
    color: gray;
}

.parrafoNegro{
    color: black;
}

.textoRojo{
    color: red;
}

.fondoVerde{
    background-color: chartreuse;
}

.textoGrandeNegrita{
    font-size: x-large;
    font-weight: bold;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
   
}

.imagenPequeña{
    height: 200px;
}

.parrafoAngosto{
    width: 100px;
    height:100px;
}

.contenedorConMargen{
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
 border: 1px solid red;
 padding: 10px;
}
.parrafoPadding{
    padding:40px;
}


.contenedorDivs{
    border: 2px solid green;
    display: grid;
    grid-column: auto;
    grid-template-rows: 50px 50xp;
    grid-template-columns: 150px 150px 300px;
}

.divTest{
    border: 1px solid red;
}

